@*@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="form-container">
    <div class="form-content">
        <h1 class="">Şifre Yenileme</h1>
        <p class="signup-link">Hesabınızda kullanmak üzere yeni şifrenizi giriniz.</p>
        <form class="text-left" asp-action="ResetPassword" onSubmit="return checkPassword(this)" method="post">
            <input asp-for="Email" name="Email" type="hidden">
            <input asp-for="Token" name="Token" type="hidden">
            <div class="form">
                <div id="email-field" class="field-wrapper input">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                    <input asp-for="Password" id="UserPassword" name="Password" type="password" placeholder="Yeni Şifreniz" minlength="8" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div id="email-field" class="field-wrapper input">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                    <input asp-for="ConfirmPassword" id="UserAgainPassword" name="ConfirmPassword" type="password" placeholder="Yeni Şifre Tekrarı" minlength="8" required>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-sm-flex justify-content-between">
                    <div class="field-wrapper">
                        <button name="ResetPassword" type="submit" value="" class="btn btn-primary">Şifremi Yenile</button>
                    </div>
                </div>
            </div>
        </form>
        <p class="terms-conditions">© 2021 Kelime Oyunu - All Rights Reserved. <br /> Powered By Berk Garip</p>
    </div>
</div>*@